.container {
	margin-top: 70px;
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: #111;
	padding: 10px;
	color: whitesmoke;

}

.github {
	margin-left: 5px;
	text-decoration: none;
	color: whitesmoke;
}
.github:hover {
	text-decoration: underline;

}
@media only screen and (max-width: 813px) {
  .container {
	margin-top: 70px;
  	display: flex;
  	justify-content: center;
  	width: 100%;
  	background-color: #282828;
  	padding: 10px;
  	color: white;
	font-size: 12px;
	}
	.github {
		margin-left: 5px;
		text-decoration: none;
		color: white;
	}
}
