.formControl {
	width: 30%;
	margin-bottom: 30px !important;
}

.chosen{
	color: #ddd !important;
	font-weight: bolder !important;
}

@media only screen and (max-width: 770px) {
	.formControl {
		width: 100%;
	}

}
